/* CSS Layout Document for 'TheSmallHost' home page */



body {
	font-size: 14px;
	background-color: #fff;
}
#mainheading {
	width: 99%;
	margin: 1em auto 0em auto;
	text-align: center;
	font-size: 6em;
	font-weight: 700;
	letter-spacing: -0.01em;
	font-family: 'Playfair Display', serif;
}
#subheading {
	width: 50%;
	margin: 1em auto 0em auto;
	text-align: center;
	font-size: 2em;
	font-weight: 300;
	color: rgb(177, 0, 0);
	font-family: 'Roboto', sans-serif;
}

.maincontent {
	width: 70%;
	margin: 1em auto 0em auto;
	text-align: center;
	font-size: 3.2em;
	font-weight: 300;
	color: rgba(53,53,53,1.00);
	font-family: 'Roboto', sans-serif;
}

.maincontent a:link, a:visited, a:active {
	color: #FF5700;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}
.maincontent a:hover {
	color: #003CFF;
}


#socialcontainer {
	width: 50%;
	height: 32px;
	margin: 2em auto;
	display:flex; 
}
.icon {
	margin: 0em auto;
	width: 32px;
	height: 32px;

}













/*

MEDIA QUERIE RULE

Media querie code should always go at the end of the whole CSS code.

Media querie code always starts with @media screen and (max-width: 680px) { CSS CODE GOES HERE }

or 

@media (orientation: landscape)  (max-width: 680px) { CSS CODE GOES HERE }
@media (orientation: portrait) (max-width: 680px) { CSS CODE GOES HERE }

'max-width' = Designing for a desktop first working your way down to mobile
'min-width' = Designing for a desktop first working your way down to mobile 

*/


/*-----------------------------------------------------------------*/
@media screen and (max-width: 680px) {  

#mainheading {
	margin: 5em auto 0 auto;
	width: 99%;
	font-size: 2.5em;
	color: #FFFFFF;
	font-weight: 900;
	font-family: 'Playfair Display', serif;
}
#subheading {
	width: 80%;
	font-size: 1.1em;
	color: #FF9600;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.maincontent {
	width: 80%;
	margin: 1em auto 0em auto;
	text-align: left;
	font-size: 2em;
	font-weight: 300;
	color: #fff;
	font-family: 'Roboto', sans-serif;
}

}

















/* 

div class = .link ( use many times )

div id = #link ( use once )

*/
